.nav-enlace{
    display: inline-block;
    background: rgb(0, 217, 255);
    color: rgb(0, 0, 0);
    padding: 10px 30px;
    text-decoration: none;
    justify-content: center;
}
.nav-enlace:hover{
    background: rgb(192, 190, 190);
}
nav{
    background: rgb(242, 236, 84);
    padding: 10px;
    display: flex;
    justify-content: center; /*para q la barra de navegacion este en el centro*/
}
aside{
    display: inline-block;
    background: rosybrown;
    width: 300px;
    min-height: 512px;
    float: right;
    margin: 10px;
}
aside section{
    width: 80%;
    margin: auto;
}
article{
    width: 800px;
    height: 300px;
    margin: 10px;
}
p{ 
    background:rgb(110, 222, 237);
    padding: 5%;
    width: 80%;
    display: flex;
}
.columna{
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 5%; /*separación entre medio */
    width: 60%;
}
/*para ver el tema de columnas en una pág */ 
.flexbox{
    display: flex;
}
.nav-boton{
    background:  rgb(0, 217, 255);
    color: rgb(0, 0, 0);
    padding: 10px;
    border: 2px solid;
    display: none;
}
#main{
    width: 900px;
}

/*Ahora para condicionar el tamaño de la pág según el dispositivo*/
@media(max-width:600px) {
    nav{
        flex-direction: column;
    }
    .nav-enlace{
        margin: 5px 0;
    }
    .nav-boton{
        display: inline-block;
    }
}

