body {
    width: 100%;
    color: #ff8400;
    background: rgb(248, 248, 189);
    font-family: Arial, Helvetica, sans-serif;
  }
  

Header{
  padding: 1em;
  background-color: #ff6500;
  font-size: 20px;
  text-align:center ;
  color: white;
}

nav ul{
  list-style: none;
  text-align: center;
}

nav ul li{
  display: inline-block;
}
nav ul li a{
  color: rgb(214, 79, 0);
  display: block;
  text-decoration: none;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

nav ul li a:hover{
  background-color: rgba(94, 94, 94, 0.5)
}

  form {
    /* centrar el formulario */
    margin: 0 auto;
    width: 400px;
  
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1%;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  #caja{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
    width: 300px;
    height: 200px;
    text-align: left;
    
  }

  input {
    font: 1em Verdana;
    width: 300px;
    box-sizing: border-box;
    border-radius: 2%;
    border: 1px solid #999;
  }
  
  input:focus {
    border: 3px solid blue;
  }
  
  .button {
    padding-left: 94px;
  }
  
  button {
    margin: auto;
  }

h2 {
    text-align: left; 
    text-transform: none;
    text-size-adjust: auto;
    color: #ff8400;
}
.Container{
    color:  #ff8400;
}
a { text-decoration: none;
}